List and Tuple Excercises

1. Create and Access List Elements

In [ ]:
# Create a list containing five different fruits and print the third fruit

l = ['Apple', 'Mandarin', 'Strawberry', 'Apricot', 'Melon']

print(l[2])

Strawberry

2. Concatenate Two Lists

In [ ]:
# Create two lists of numbers and concatenate them into a single list.

numbers = [1,2,3,4,5,6]
numbers1 = [7,8,9,0]
numbers.extend(numbers1)

print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 0]

3. Extract Elements from a list.

In [ ]:
# Given a list of numbers, extract the first, middle, and last elements and store them in a new list.

first = numbers[0]
middle = numbers[len(numbers) // 2]
last = numbers[-1]

new_list = [first, middle, last]

print(new_list)

[1, 6, 0]

4. Convert List to Tuple

In [ ]:
# Create a list of your five favorite movies and convert it into a tuple. 

t = 'Spiderman', 'Ironman', 'Batman', 'Superman', 'Antman'

print(t)

('Spiderman', 'Ironman', 'Batman', 'Superman', 'Antman')

5. Check Element in a List

In [ ]:
# Given a list of cities, chec if "Paris" is in the list and print the result

cities = ['Mascow', 'Paris', 'Tashkent', 'Barcelona', 'Bukhara']

if 'Paris' in cities:
    print('Paris is in the list')
else:
    print('Paris is not in the list')

Paris is in the list

6. Duplicate a List Without Using Loops

In [ ]:
# Create a list of numbers and duplicate it without using loops.

numbers2 = [29,39,28,18]
duplicate_numbers = numbers2 * 2

print(duplicate_numbers)

[29, 39, 28, 18, 29, 39, 28, 18]

7. Swap First and Last Elements of a List

In [ ]:
# Given a list of number, swap the first and last elements.
numbers = [29, 39, 28, 18, 29, 39, 28, 18]
numbers[0], numbers[-1] = numbers[-1], numbers[0]

print(numbers)

[18, 39, 28, 18, 29, 39, 28, 29]

8. Slice a Tuple

In [ ]:
# Create a tuple of numbers from 1 to 10 and print a slice from index 3 to 7.
t = 1,2,3,4,5,6,7,8,9,10
slice = t[3:8]

print(slice)

(4, 5, 6, 7, 8)

9. Count Occurrences in a List

In [ ]:
# Create a list of colors and count how many times "blue" appears in the list.
colors = ['blue', 'yellow', 'green', 'black', 'blue', 'white', 'gray', 'blue', 'yellow', 'green']
count = colors.count('blue')

print(count)

3

10. Find the Index of an Element in a Tuple

In [ ]:
# Given a tuple of animals, find the index of "lion".
animals = 'giraffe', 'elephant', 'jaguar', 'lion', 'cow', 'dog'
index = animals.index('lion')

print(index)

3

11. Merge Two Tuples

In [41]:
# Create two tuples of numbers and merge them into a single tuple.
numbers1 = 2,5,7,2,3
numbers2 = 3,2,1,8,6

merge = numbers1 + numbers2

print(merge)

(2, 5, 7, 2, 3, 3, 2, 1, 8, 6)

12. Find the Length of a List and Tuple

In [47]:
# Given a list and a tuple, find and print their lengths.

numbers = [29, 39, 28, 18, 29, 39, 28, 18]
numbers2 = 3,2,1,8,6

print(len(numbers))
print(len(numbers2))

8
5

13. Convert Tuple to List

In [48]:
# Create a tuple of five numbers and convert it into a list.

numbers2 = 3,2,1,8,6

listing = list(numbers2)

print(listing)

[3, 2, 1, 8, 6]

14. Find Maximum and Minimum in a Tuple

In [49]:
# Given a tuple of numbers, find and print the maximum and minimum values.

numbers1 = 2,5,7,2,3

print(max(numbers1))
print(min(numbers1))

7
2

15. Reverse a Tuple

In [ ]:
# Create a tuple of words and print it in reverse order.

animals = 'giraffe', 'elephant', 'jaguar', 'lion', 'cow', 'dog'

reversed_names = animals[::-1]
print(reversed_names)

('dog', 'cow', 'lion', 'jaguar', 'elephant', 'giraffe')