import pandas as pd

data = {'First Name': ['Alice', 'Bob', 'Charlie', 'David'], 'Age': [25, 30, 35, 40], 'City': ['New York', 'San Francisco', 'Los Angeles', 'Chicago']} df = pd.DataFrame(data)

Rename column names using function. "First Name" --> "first_name", "Age" --> "age
Print the first 3 rows of the DataFrame
Find the mean age of the individuals
Select and print only the 'Name' and 'City' columns
Add a new column 'Salary' with random salary values
Display summary statistics of the DataFrame

In [1]:
import pandas as pd
import numpy as np

# Your original data and DataFrame
data = {
    'First Name': ['Alice', 'Bob', 'Charlie', 'David'],
    'Age': [25, 30, 35, 40],
    'City': ['New York', 'San Francisco', 'Los Angeles', 'Chicago']
}
df = pd.DataFrame(data)

# 1. Rename columns using a function (lowercase and replace spaces with underscores)
df.rename(columns=lambda x: x.lower().replace(' ', '_'), inplace=True)

# 2. Print the first 3 rows of the DataFrame
print("First 3 rows:")
print(df.head(3))

# 3. Find the mean age
mean_age = df['age'].mean()
print("\nMean age:", mean_age)

# 4. Select and print only the 'first_name' and 'city' columns
print("\nSelected columns (first_name and city):")
print(df[['first_name', 'city']])

# 5. Add a new column 'salary' with random salary values (e.g., between 50k and 100k)
np.random.seed(42)  # For reproducibility
df['salary'] = np.random.randint(50000, 100001, size=len(df))

# 6. Display summary statistics of the DataFrame
print("\nSummary statistics:")
print(df.describe(include='all'))

First 3 rows:
  first_name  age           city
0      Alice   25       New York
1        Bob   30  San Francisco
2    Charlie   35    Los Angeles

Mean age: 32.5

Selected columns (first_name and city):
  first_name           city
0      Alice       New York
1        Bob  San Francisco
2    Charlie    Los Angeles
3      David        Chicago

Summary statistics:
       first_name        age      city        salary
count           4   4.000000         4      4.000000
unique          4        NaN         4           NaN
top         Alice        NaN  New York           NaN
freq            1        NaN         1           NaN
mean          NaN  32.500000       NaN  74886.250000
std           NaN   6.454972       NaN  20247.671938
min           NaN  25.000000       NaN  50860.000000
25%           NaN  28.750000       NaN  62061.250000
50%           NaN  32.500000       NaN  76976.500000
75%           NaN  36.250000       NaN  89801.500000
max           NaN  40.000000       NaN  94732.000000

Create a DataFrame named sales_and_expenses with columns 'Month', 'Sales', and 'Expenses', representing monthly sales and expenses data. Use below table.
Month	Sales	Expenses
Jan	5000	3000
Feb	6000	3500
Mar	7500	4000
Apr	8000	4500
Calculate and display the maximum sales and expenses.
Calculate and display the minimum sales and expenses.
Calculate and display the average sales and expenses.

In [2]:
import pandas as pd

# Create the DataFrame
data = {
    'Month': ['Jan', 'Feb', 'Mar', 'Apr'],
    'Sales': [5000, 6000, 7500, 8000],
    'Expenses': [3000, 3500, 4000, 4500]
}

sales_and_expenses = pd.DataFrame(data)

# Display the DataFrame
print("Sales and Expenses Data:")
print(sales_and_expenses)

# Calculate max values
max_sales = sales_and_expenses['Sales'].max()
max_expenses = sales_and_expenses['Expenses'].max()

print(f"\nMaximum Sales: {max_sales}")
print(f"Maximum Expenses: {max_expenses}")

# Calculate min values
min_sales = sales_and_expenses['Sales'].min()
min_expenses = sales_and_expenses['Expenses'].min()

print(f"\nMinimum Sales: {min_sales}")
print(f"Minimum Expenses: {min_expenses}")

# Calculate average values
avg_sales = sales_and_expenses['Sales'].mean()
avg_expenses = sales_and_expenses['Expenses'].mean()

print(f"\nAverage Sales: {avg_sales:.2f}")
print(f"Average Expenses: {avg_expenses:.2f}")

Sales and Expenses Data:
  Month  Sales  Expenses
0   Jan   5000      3000
1   Feb   6000      3500
2   Mar   7500      4000
3   Apr   8000      4500

Maximum Sales: 8000
Maximum Expenses: 4500

Minimum Sales: 5000
Minimum Expenses: 3000

Average Sales: 6625.00
Average Expenses: 3750.00

Create a DataFrame named expenses with columns 'Category', 'January', 'February', 'March', and 'April', representing monthly expenses for different categories. Use below table.
Category	January	February	March	April
Rent	1200	1300	1400	1500
Utilities	200	220	240	250
Groceries	300	320	330	350
Entertainment	150	160	170	180
Calculate and display the maximum expense for each category.
Calculate and display the minimum expense for each category.
Calculate and display the average expense for each category.

In [3]:
import pandas as pd

# Create the DataFrame
data = {
    'Category': ['Rent', 'Utilities', 'Groceries', 'Entertainment'],
    'January': [1200, 200, 300, 150],
    'February': [1300, 220, 320, 160],
    'March': [1400, 240, 330, 170],
    'April': [1500, 250, 350, 180]
}

expenses = pd.DataFrame(data)

# Display the DataFrame
print("Expenses Data:")
print(expenses)

# Calculate max expense per category (row-wise)
expenses['Max Expense'] = expenses.loc[:, 'January':'April'].max(axis=1)

# Calculate min expense per category (row-wise)
expenses['Min Expense'] = expenses.loc[:, 'January':'April'].min(axis=1)

# Calculate average expense per category (row-wise)
expenses['Average Expense'] = expenses.loc[:, 'January':'April'].mean(axis=1)

# Display the results
print("\nExpenses with max, min, and average per category:")
print(expenses[['Category', 'Max Expense', 'Min Expense', 'Average Expense']])

Expenses Data:
        Category  January  February  March  April
0           Rent     1200      1300   1400   1500
1      Utilities      200       220    240    250
2      Groceries      300       320    330    350
3  Entertainment      150       160    170    180

Expenses with max, min, and average per category:
        Category  Max Expense  Min Expense  Average Expense
0           Rent         1500         1200           1350.0
1      Utilities          250          200            227.5
2      Groceries          350          300            325.0
3  Entertainment          180          150            165.0

In [4]:
import pandas as pd

# Create the DataFrame
data = {
    'Category': ['Rent', 'Utilities', 'Groceries', 'Entertainment'],
    'January': [1200, 200, 300, 150],
    'February': [1300, 220, 320, 160],
    'March': [1400, 240, 330, 170],
    'April': [1500, 250, 350, 180]
}

expenses = pd.DataFrame(data)

# Set 'Category' column as index
expenses.set_index('Category', inplace=True)

# Display the DataFrame with Category as index
print("Expenses Data with Category as index:")
print(expenses)

# Calculate max expense per category (row-wise)
expenses['Max Expense'] = expenses.max(axis=1)

# Calculate min expense per category (row-wise)
expenses['Min Expense'] = expenses.min(axis=1)

# Calculate average expense per category (row-wise)
expenses['Average Expense'] = expenses.mean(axis=1)

# Display the results
print("\nExpenses with max, min, and average per category:")
print(expenses[['Max Expense', 'Min Expense', 'Average Expense']])

Expenses Data with Category as index:
               January  February  March  April
Category
Rent              1200      1300   1400   1500
Utilities          200       220    240    250
Groceries          300       320    330    350
Entertainment      150       160    170    180

Expenses with max, min, and average per category:
               Max Expense  Min Expense  Average Expense
Category
Rent                  1500         1200      1350.000000
Utilities              250          200       226.666667
Groceries              350          300       325.000000
Entertainment          180          150       165.000000