Homeworks

1. Modify String with Underscores

In [10]:
# Given a string txt, insert an underscore (_) after every third character.
# If a character is a vowel or already has an underscore after it, shift the underscore placement to the next character. 
# No underscore should be added at the end.

txt = 'hello'
txt1 = 'assalom'
txt2 = 'abcabcabcdeabcdefabcdefg'

result = "_".join([txt[i:i+3] for i in range(0, len(txt), 3)])
result1 = "_".join([txt1[i:i+3] for i in range(0, len(txt1), 3)])
result2 = "_".join([txt2[i:i+3] for i in range(0, len(txt2), 3)])

print(result)
print(result1)
print(result2)

# Examples
# Input: hello Output: hel_lo

# Input: assalom Output: ass_alom

# Input: abcabcabcdeabcdefabcdefg Output: abc_abc_abcd_abcd_abcdef

hel_lo
ass_alo_m
abc_abc_abc_dea_bcd_efa_bcd_efg

2. Integer Squares Exercise

In [11]:
# The provided code stub reads an integer, n, from STDIN. For all non-negative integers i where 0 <= i < n, print i^2.

n = int(input("Please enter a number "))

for i in range (1, n + 1):
    print(f"{i} squared is {i**2}")

1 squared is 1
2 squared is 4
3 squared is 9
4 squared is 16
5 squared is 25
6 squared is 36
7 squared is 49
8 squared is 64
9 squared is 81
10 squared is 100
11 squared is 121
12 squared is 144
13 squared is 169
14 squared is 196
15 squared is 225
16 squared is 256
17 squared is 289
18 squared is 324
19 squared is 361
20 squared is 400
21 squared is 441
22 squared is 484
23 squared is 529

3. Loop-Based Exercises

In [12]:
# Exercise 1: Print first 10 natural numbers using a while loop
i = 1
while i <= 10:
    print(i)
    i += 1

1
2
3
4
5
6
7
8
9
10

In [13]:
# Exercise 2: Print the following pattern
# 1
# 1 2
# 1 2 3
# 1 2 3 4
# 1 2 3 4 5
i1 = 1
while i1 <= 5:
    j = 1
    while j <= i1:
        print(j, end=" ")
        j +=1
    print()
    i1+=1

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [14]:
# Exercise 3: Calculate sum of all numbers from 1 to a given number
n = 10
total = 0
for i in range(1,n+1):
    total +=i
print(total)
# Example:
# Enter number 10
# Sum is: 55

55

In [15]:
# Exercise 4: Print multiplication table of a given number
num = 2
for i in range(1, 11):
    print(f"{num} x {i} = {num * i}")
# Example:
# 2
# 4
# 6
# 8
# 10
# 12
# 14
# 16
# 18
# 20

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

In [16]:
# Exercise 5: Display numbers from a list using a loop
numbers = [12, 75, 150, 180, 145, 525, 50]
for i in numbers:
    if i in[75, 150, 145]:
        print(i)
# Given:
# numbers = [12, 75, 150, 180, 145, 525, 50]
# Expected Output:
# 75
# 150
# 145

75
150
145

In [17]:
# Exercise 6: Count the total number of digits in a number
num = 75869
count = 0 
while num != 0:
    num//=10
    count +=1 
print(count)
# Example:
# 75869
# Output: 5

5

In [18]:
# Exercise 7: Print reverse number pattern
rows = 5
for i in range(rows+1, 0, -1):
    for j in range(i, 0, -1):
        print(j, end=" ")
    print()
# 5 4 3 2 1
# 4 3 2 1
# 3 2 1
# 2 1
# 1

6 5 4 3 2 1
5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

In [19]:
# Exercise 8: Print list in reverse order using a loop
list1 = [10, 20, 30, 40, 50]
for i in reversed(list1):
    print(i)
# Given:
# list1 = [10, 20, 30, 40, 50]
# Expected Output:
# 50
# 40
# 30
# 20
# 10

50
40
30
20
10

In [20]:
# Exercise 9: Display numbers from -10 to -1 using a for loop
for i in range(-10, 0):
    print(i)
# -10
# -9
# -8
# -7
# -6
# -5
# -4
# -3
# -2
# -1

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1

In [21]:
# Exercise 10: Display message “Done” after successful loop execution
for i in range(0, 5):
    print(i)
print("Done")
# Example:
# 0
# 1
# 2
# 3
# 4
# Done!

0
1
2
3
4
Done

In [22]:
# Exercise 11: Print all prime numbers within a range
for num in range(25, 51):
    if num > 1:
        for i in range(2, num):
            if num % i == 0:
                break
        else:
            print(num)
# Example:
# Prime numbers between 25 and 50:
# 29
# 31
# 37
# 41
# 43
# 47

29
31
37
41
43
47

In [ ]:
# Exercise 12: Display Fibonacci series up to 10 terms
a, b = 0, 1  
for _ in range(10):  
    print(a, end=" ")
    a, b = b, a + b  
# Example:
# Fibonacci sequence:
# 0  1  1  2  3  5  8  13  21  34


# Exercise 13: Find the factorial of a given number
num = int(input("Enter a number: "))
factorial = 1
for i in range(1, num + 1):
    factorial *= i 
print(f"The factorial of {num} is {factorial}")
# Example:
# 5! = 120

0 1 1 2 3 5 8 13 21 34

4. Return Uncommon Elements of Lists

In [2]:
# Return the elements that are not common between two lists. The order of elements does not matter.

# Examples
# Input: list1 = [1, 1, 2], list2 = [2, 3, 4]
# Output: [1, 1, 3, 4]

# Input: list1 = [1, 2, 3], list2 = [4, 5, 6]
# Output: [1, 2, 3, 4, 5, 6]

# Input: list1 = [1, 1, 2, 3, 4, 2], list2 = [1, 3, 4, 5]
# Output: [2, 2, 5]

def non_common_elements(list1, list2):
    result = [item for item in list1 if item not in list2] + [item for item in list2 if item not in list1]
    return result
print(non_common_elements([1, 1, 2], [2, 3, 4])) 
print(non_common_elements([1, 2, 3], [4, 5, 6]))  
print(non_common_elements([1, 1, 2, 3, 4, 2], [1, 3, 4, 5]))

[1, 1, 3, 4]
[1, 2, 3, 4, 5, 6]
[2, 2, 5]